menu "Application Configuration"
	
	orsource "$IDF_PATH/examples/common_components/env_caps/$IDF_TARGET/Kconfig.env_caps"

	config ESPNOW_ENABLE_LONG_RANGE
		bool "Enable Long Range"
		default "n"
		help
			When enable long range, the PHY rate of ESP32 will be 512Kbps or 256Kbps

	config ESP_NOW_PMK
		string "ESP-NOW private key"
		default "PMK1233443433245"
		help
			must match in gateway configuration

	config NODE_ID
		string "ID of the node"
		default "NOD001"
		
    config MESSAGE_PAYLOAD
		string "Message payload sent to MQTT server"
		default "hello NOD001"

	config LED_GPIO
        int "LED GPIO number"
        range ENV_GPIO_RANGE_MIN ENV_GPIO_OUT_RANGE_MAX
        default 8 if IDF_TARGET_ESP32C3 || IDF_TARGET_ESP32H2 || IDF_TARGET_ESP32C2
        default 18 if IDF_TARGET_ESP32S2
        default 48 if IDF_TARGET_ESP32S3
        default 5
        help
            GPIO number (IOxx) to turn on and off LED.
            Some GPIOs are used for other purposes (flash connections, etc.) and cannot be used to blink.
    
    config BUTTON_GPIO
        int "BUTTON GPIO number"
        range ENV_GPIO_RANGE_MIN ENV_GPIO_OUT_RANGE_MAX
        default 9 if IDF_TARGET_ESP32C3 || IDF_TARGET_ESP32H2 || IDF_TARGET_ESP32C2
        default 0  if IDF_TARGET_ESP32S2
        default 0 if IDF_TARGET_ESP32S3
        default 9
        help
            GPIO number (IOxx) for push button.
            Some GPIOs are used for other purposes (flash connections, etc.) and cannot be used to blink.
endmenu
